src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ac94216-b889-4962-8238-b255e7b6a877" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-actionsFlow" doc:id="a0e76eae-6bc3-4a78-83b8-3f9e5ccf8334" >
		<http:listener doc:name="Listener" doc:id="ff625ac5-12a1-436b-ad4e-66333f016f33" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["It is working for once, yay!"]' doc:name="Set Payload" doc:id="5f579f96-f31d-49a4-a0b0-09f2576a01a8" />
		<logger level="INFO" doc:name="Logger" doc:id="62a32379-cc5b-4b73-bed3-57bf4be188be" message="#[payload]"/>
	</flow>
</mule>
